body{
    width: 100%;
    background-color: rgb(162, 30, 59);
    color: white;
}
main{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
}
h1{
    border: 1px solid;
    box-shadow: 10px 0px 10px black;
    font-size: 4em;
    background-color: rgb(19, 65, 19);
}
#tabellone{
    display: inline-block;
    text-align: center;
    width: 60%;
    height: 700px;
    border: solid;
    background-color: rgb(128, 23, 17);
    
} 
.numero{
    margin-top: 20px;
    margin-right: 5px;
    color: black;
    display: inline-block;
    border: 1px solid;
    width: 50px;
    height: 50px;
    background-color: white;
    text-align: center;
    font-size: 2em;
}
button{
    background-color: rgb(89, 30, 24);
    color: white;
    margin:40px;
    width: 300px;
    height: 50px;
    font-size: 2em;
}
.numero.selected{
    background-color: rgb(220, 217, 140);
}